
.problemSpace{
    padding: 20px;
}


.hiFiMockup23 {
    display: flex;  
    gap:10rem;
}

.hiFiMockups{
    padding: 20px;
}

.userTesting {
    display: flex
}


.container-fixed(@gutter: @grid-gutter-width) {
  padding-right: ceil((@gutter / 2));
  padding-left: floor((@gutter / 2));
  margin-right: auto;
  margin-left: auto;
  &:extend(.clearfix all);
}



